.navbar {
    background-color: #0E0704;
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  .navbar-link {
    margin: 0 20px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  .navbar-link:hover {
    color: blue;
  }

  


/* To make the site responsive */


  @media screen and (max-width: 768px) { 
     /* This is the media query declaration. It specifies that the  */
    /* enclosed CSS rules should only apply when the screen width is 768 pixels or less. */
    .navbar {
      flex-direction: column;
       /* // it makes the navigation links stack on top of each other vertically rather than appearing */
        /* side by side horizontally. */
      align-items: center;
    }
  
    .navbar-link {
      margin: 10px 0;
      font-size: 14px;
    }
  }
  




  
  
  
  
  
  