
.cards{
   display: flex;
   gap: 10rem;
   justify-content: center;
   margin-top: 8rem;
}

.semi-cards{
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 30vh;
    width: 30vh;
    border: 1px solid #ededed;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Added border-color transition */
}

.semi-cards:hover {
    background-color: white;
    border-color: red; /* Change border color on hover (for illustration purposes) */
}

.photo{
    height: 30h;
    width: 30vh;
    cursor: pointer;
}